extends layout

block content
    h1= title
    form#formAddLink(name="add",method="post",action="addLink")
        input#inputLongLink(type="text", placeholder="Actual URL", name="longLink")
        button#btnSubmit(type="submit") submit
